.stations
  %h1= @station.name
  .station
    = link_to "Ouvrir le lecteur", "#{root_url}#{@station.path}", class: "open-radio-popup"
    %br
    = link_to "Fermer le lecteur", "#{root_url}#{@station.path}", class: "close-radio-popup"
