#jplayer
= content_tag :div, id: "player", class: @station.name.downcase, data: { station: @station.name } do
  .header
  .cover
    = image_tag @song.cover, id: "cover"
  .status
    .marquee{behavior: "scroll", scrollamount: "1", direction: "left"}
      %span#artist
        = @song.artist
      %span.separator
        \-
      %span#title
        = @song.title
  .footer
    = link_to "OFF", "#", class: "on", id: "switch"
    .volume-bar
      #volume.dragdealer
        .handle
          .cursor