!!! 5
%html{lang: "fr"}
  %head
    %meta{charset: 'utf-8'}
    %meta{content: "width=device-width, initial-scale=1.0, user-scalable=no", name: "viewport"}
    %meta{content: "Gulli", name: "author"}
    %meta{content: root_url.chop + image_path("gulli/logo.png"), property: 'og:image'}
    %meta{name: "apple-mobile-web-app-capable", content: "yes"}
    %link{rel: "shortcut icon", href: image_path('gulli/favicon.ico'), type: "image/x-icon"}
    %link{rel: "apple-touch-icon", href: "/apple-touch-icon.png"}
    - [76, 114, 120, 152].each do |size|
      %link{rel: "apple-touch-icon", sizes:"#{size}x#{size}", href: image_path("gulli/apple-touch-icon-#{size}x#{size}.png")}
    %title Radio Gulli
    = stylesheet_link_tag "gulli/application"
    / [if lt IE 9]
      = javascript_include_tag "html5shiv", "respond"
    = javascript_include_tag "gulli/application"
    = csrf_meta_tags
  %body
    #player
    - if is_volume_capable?
      #volume.dragdealer
        .handle
    %a.btn.btn-power{href: "javascript:void(0);", class: is_autoplay_device? && "active"}
    %a.btn.btn-share{href: "javascript:void(0);"}
    .outer
      .middle
        .container{class: is_volume_capable? ? 'container-with-volume' : 'container-without-volume'}
          #song-cover.song-part{style: "background-image: url(\"#{asset_path('gulli/default_cover.jpg')}\");"}
            #loading.overlay
              = image_tag "gulli/loader.png", class: "fa-spin"
          - if is_volume_capable?
            .volume-bar.song-part
              #volume-highlight
          - else
            .volume-bar-placeholder
          .song-text.song-part
            #song-title-marquee.marquee
              #song-title
            #song-artist-marquee.marquee
              #song-artist
