!!! 5
%html
  %head
    %meta{charset: "utf-8"}
    %title Les Web Radios Mac Do
    %meta{"http-equiv" => "Content-Type", content: "text/html; charset=utf-8"}
    %meta{name: "viewport", content: "width=640, user-scalable=no"}
    %meta{name: "description", content: "Les Web Radios Mac Do"}
    %meta{name: "author", content: "My Jungly"}
    %meta{name: "apple-mobile-web-app-capable", content: "yes"}
    %meta{name: "apple-mobile-web-app-status-bar-style", content: "black"}
    = stylesheet_link_tag "macdonalds/application"
    = javascript_include_tag "macdonalds/application"
    /[if lt IE 9]
      = javascript_include_tag "http://html5shim.googlecode.com/svn/trunk/html5.js", "respond"
    = render partial: '/layouts/ga'
  %body
    - stations = { "hitmusic" => "MCDO1-", "poprock" => "MCDO4-", "legends" => "MCDO2-", "lounge" => "MCDO3-" }
    - default_station_id = params[:station] || stations.first.first
    - default_station_name = stations[default_station_id]
    %header
      = image_tag "macdonalds/logo.png", class: "logo"
      %h1
        LES WEBRADIOS McDO
      %h2
        Découvrez les 4 stations musicales imaginées pour les GIE de Mc Donald's France
    .content
      %a#volume{href: "javascript:void(0)"}
        &nbsp;
      = image_tag "macdonalds/#{default_station_id}/title.png", id: "title"
      .marquee_wrapper{class: default_station_id}
        .marquee
          %span#song_title
          %span#song_separator
            \/
          %span#song_artist
      .cube
        %ul.rs-slider
          - stations.each_with_index do |(id, station), index|
            %li{class: (id == default_station_id && "current"), data: {position: index, id: id, station: station}}
              = image_tag "macdonalds/default_cover.jpg", class: "song_cover"
              = image_tag "macdonalds/#{id}/box.png", class: "face"
      #player{data: { station: default_station_name }}