!!! 5
%html
  %head
    %meta{charset: "utf-8"}
    %title Les Web Radios Mac Do
    %meta{"http-equiv" => "Content-Type", content: "text/html; charset=utf-8"}
    %meta{name: "viewport", content: "width=640, user-scalable=no"}
    %meta{name: "description", content: "Les Web Radios Mac Do"}
    %meta{name: "author", content: "My Jungly"}
    %meta{name: "apple-mobile-web-app-capable", content: "yes"}
    %meta{name: "apple-mobile-web-app-status-bar-style", content: "black"}
    = stylesheet_link_tag "macdonalds/application"
    = javascript_include_tag "macdonalds/application"
    /[if lt IE 9]
      = javascript_include_tag "http://html5shim.googlecode.com/svn/trunk/html5.js", "respond"
    = render '/layouts/ga'
  %body
    %header
      = image_tag "macdonalds/logo.png", class: "logo"
      %h1
        LES WEBRADIOS McDO
      %h2
        Découvrez les 4 stations musicales imaginées pour les GIE de Mc Donald's France
    .content
      %a#volume{href: "javascript:void(0)"}
        &nbsp;
      = image_tag "macdonalds/hitmusic/title.png", id: "title"
      .marquee_wrapper.hitmusic
        %marquee.marquee{scrollamount: 2}
          %span#song_title
          %span#song_separator
            \/
          %span#song_artist
      .cube
        %ul.rs-slider
          %li.current{data: {id: "hitmusic", station: "MCDO1-"}}
            = image_tag "macdonalds/default_cover.jpg", class: "song_cover"
            - if params[:rounded].present?
              = image_tag "macdonalds/hitmusic/box_rounded.png", class: "face"
            - else
              = image_tag "macdonalds/hitmusic/box.png", class: "face"
          %li{data: {id: "poprock", station: "MCDO4-"}}
            = image_tag "macdonalds/default_cover.jpg", class: "song_cover"
            - if params[:rounded].present?
              = image_tag "macdonalds/poprock/box_rounded.png", class: "face"
            - else
              = image_tag "macdonalds/poprock/box.png", class: "face"
          %li{data: {id: "legends", station: "MCDO2-"}}
            = image_tag "macdonalds/default_cover.jpg", class: "song_cover"
            - if params[:rounded].present?
              = image_tag "macdonalds/legends/box_rounded.png", class: "face"
            - else
              = image_tag "macdonalds/legends/box.png", class: "face"
          %li{data: {id: "lounge", station: "MCDO3-"}}
            = image_tag "macdonalds/default_cover.jpg", class: "song_cover"
            - if params[:rounded].present?
              = image_tag "macdonalds/lounge/box_rounded.png", class: "face"
            - else
              = image_tag "macdonalds/lounge/box.png", class: "face"
      #player{data: { station: "MCDO1-" }}