!!! 5
%html{lang: "fr"}
  %head
    %meta{charset: 'utf-8'}
    %meta{content: "width=device-width, initial-scale=1.0, user-scalable=no", name: "viewport"}
    %meta{content: "My Jungly", name: "author"}
    %meta{content: root_url.chop + image_path("riffx/logo.png"), property: 'og:image'}
    %title Radio RIFFX by Crédit Mutuel
    = stylesheet_link_tag "riffx/application"
    / [if lt IE 9]
      = javascript_include_tag "html5shiv", "respond"
    = javascript_include_tag "riffx/application"
    = render partial: "/layouts/ga", locals: { code: 'UA-6516494-19' }
    = csrf_meta_tags
  %body
    #player
    .outer
      .middle
        .container
          %header.row
            .col-lg-12
              - if is_mobile_device?
                %a.btn-power.btn-power-mobile.active{href: "javascript:void(0);"}
                  %i.fa.fa-power-off
              = image_tag "riffx/logo.png"
          .row.covers
            .col-lg-12
              .cover
                #loading.overlay
                  %i.fa.fa-refresh.fa-spin
                - unless is_autoplay_device?
                  %a.overlay#btn-play{href: "javascript:void(0);"}
                    %i.fa.fa-play
                = image_tag "riffx/default_cover.jpg", id: "song-cover"
                %ul.social
                  %li
                    %a.btn-share.btn-share-twitter{href: '#', data: {url: request.original_url}}
                      %i.fa.fa-twitter
                  %li
                    %a.btn-share.btn-share-facebook{href: '#', data: {url: request.original_url}}
                      %i.fa.fa-facebook
          .row.titles
            .col-lg-12
              #song-title
              #song-artist
                %i.fa.fa-refresh.fa-spin
                Chargement...
          - unless is_mobile_device?
            .row
              .col-lg-12
                .controls
                  %a.btn-power.active{href: "javascript:void(0);"}
                    %i.fa.fa-power-off
                  .volume-bar
                    #volume.dragdealer
                      .handle
                        .cursor
                    #volume-highlight
