!!! 5
%html{lang: "fr"}
  %head
    %meta{charset: 'utf-8'}
    %meta{:content => "width=device-width, initial-scale=1.0, user-scalable=no", :name => "viewport"}
    %meta{:content => "My Jungly", :name => "author"}
    %title La Web Radio RIFFX
    = stylesheet_link_tag "riffx/application"
    / [if lt IE 9]
      = javascript_include_tag "html5shiv", "respond"
    = javascript_include_tag "riffx/application"
    = render "/layouts/ga"
    = csrf_meta_tags
  %body
    .container
      .row
        .col-sm-6.col-sm-offset-3
          = image_tag "riffx/logo.png", class: "img-responsive"
      .row
        .col-xs-12
          = image_tag "riffx/default_cover.jpg", class: "img-responsive", id: "cover"
