!!! 5
%html{lang: "fr"}
  %head
    %meta{charset: 'utf-8'}
    %meta{content: "width=device-width, initial-scale=1.0, user-scalable=no", name: "viewport"}
    %meta{content: "Une Autre Radio", name: "author"}
    %meta{name: "apple-mobile-web-app-capable", content: "yes"}
    %title Une Autre Radio
    = stylesheet_link_tag "uar/application"
    / [if lt IE 9]
      = javascript_include_tag "html5shiv", "respond"
    = javascript_include_tag "uar/application"
    = render partial: "/layouts/ga"
    = csrf_meta_tags
  %body
    #player
    .outer{class: is_mobile_device? ? 'outer-mobile' : 'outer-desktop'}
      .middle
        .container
          #song-cover.song-part{style: "background-image: url(\"#{asset_path('uar/default_cover.jpg')}\");"}
            #overlay
            - unless is_autoplay_device?
              %a#btn-play{href: "javascript:void(0);"}
                %i.fa.fa-play
            #loading
              - (1..8).each do |i|
                .f_circleG{id: "frotateG_0#{i}"}
            %ul.social
              %li
                %a.btn-share.btn-share-twitter{href: "javascript:void(0);", data: {url: request.original_url}}
                  %i.fa.fa-twitter
              %li
                %a.btn-share.btn-share-facebook{href: "javascript:void(0);", data: {url: request.original_url}}
                  %i.fa.fa-facebook
          .song-text.song-part
            - unless is_volume_capable?
              %a.btn-power.active{href: "javascript:void(0);"}
                %i.fa.fa-power-off
            #song-title
              %i.fa.fa-spinner.fa-spin
            #song-artist
              Chargement...
          - if is_volume_capable?
            .song-controls
              %a.btn-power.active{href: "javascript:void(0);"}
                %i.fa.fa-power-off
              .volume-bar
                #volume.dragdealer
                  .handle
                    .cursor
                #volume-highlight